.carmiddle-section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
}


.middle-section {
      border: 1px solid #a7a7a7;
      border-radius: 8px;
      margin-left: 2px;
      padding: 10px;
      text-align: center;
}


@media only screen and (max-width:576px) {
      .middle-section {
            grid-template-columns: repeat(1, 1fr);

      }
}

@media only screen and (min-width:577px) and (max-width:992px) {
      .middle-section {
            grid-template-columns: repeat(2, 1fr);

      }
}